<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-zenweex" version="0.1.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>
		ZenWeex
	</name>
	<js-module name="ZenWeex" src="www/ZenWeex.js">
		<clobbers target="cordova.plugins.ZenWeex" />
	</js-module>
</plugin>
