<?xml version="1.0" encoding="utf-8"?>
<plugin id="cordova-plugin-zenweex" version="0.1.2" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	<name>
		ZenWeex
	</name>
	<js-module name="ZenWeex" src="www/ZenWeex.js">
		<clobbers target="cordova.plugins.ZenWeex" />
	</js-module>
	<platform name="ios">
		<config-file parent="/*" target="config.xml">
			<feature name="ZenWeex">
				<param name="ios-package" value="ZenWeex" />
			</feature>
		</config-file>
		<source-file src="src/ios/ZenWeex.m" />
		<source-file src="src/ios/JSValue+Weex.h" />
		<source-file src="src/ios/JSValue+Weex.m" />
		<source-file src="src/ios/WXBridgeMethod_Private.h" />
		<source-file src="src/ios/WXModuleMethod_Private.h" />
		<source-file src="src/ios/ZenViewController.h" />
		<source-file src="src/ios/ZenViewController.m" />
		<framework src="WeexSDK" type="podspec" />
		<framework src="SDWebImage" type="podspec" spec="~> 3.8.0" />
		<framework src="SocketRocket" type="podspec" spec="~> 0.5.1" />
		<framework src="WeexPluginLoader" type="podspec" />
		<framework src="WXDevtool" type="podspec" />
	</platform>
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="ZenWeex">
				<param name="android-package" value="cordova.plugin.ZenWeex" />
			</feature>
		</config-file>
		<config-file parent="/manifest/application" target="AndroidManifest.xml">
			<activity
					android:name="com.alibaba.weex.WXPageActivity"
					android:label="@string/app_name"
					android:screenOrientation="portrait"
					android:theme="@style/AppTheme.NoActionBar">
				<intent-filter>
					<action android:name="com.taobao.android.intent.action.WEEX"/>
					<category android:name="android.intent.category.DEFAULT"/>
					<category android:name="com.taobao.android.intent.category.WEEX"/>
					<action android:name="android.intent.action.VIEW"/>
				</intent-filter>
			</activity>
		</config-file>
		<source-file src="src/android/res/layout/activity_wxpage.xml" target-dir="res/layout" />
		<source-file src="src/android/ZenWeex.java" target-dir="src/cordova/plugin" />
		<source-file src="src/android/com/alibaba/weex/WXPageActivity.java" target-dir="src/com/alibaba/weex" />
		<source-file src="src/android/com/alibaba/weex/commons/adapter/BlurTool.java" target-dir="src/com/alibaba/weex/commons/adapter" />
		<source-file src="src/android/com/alibaba/weex/commons/adapter/BlurTransformation.java" target-dir="src/com/alibaba/weex/commons/adapter" />
		<source-file src="src/android/com/alibaba/weex/commons/adapter/ImageAdapter.java" target-dir="src/com/alibaba/weex/commons/adapter" />
		<source-file src="src/android/com/alibaba/weex/commons/adapter/JSExceptionAdapter.java" target-dir="src/com/alibaba/weex/commons/adapter" />

        <framework src="com.taobao.android:weex_sdk:0.24.0@aar" />
        <framework src="com.android.support:design:28.0.0" />
        <framework src="com.alibaba:fastjson:1.1.46.android" />
        <framework src="com.squareup.picasso:picasso:2.5.2" />
        <framework src="com.squareup.okhttp:okhttp:2.3.0" />
        <framework src="com.squareup.okhttp:okhttp-ws:2.3.0" />
        <framework src="com.android.support:appcompat-v7:27.1.1" />
	</platform>
</plugin>
